.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Beyaz */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; /* Daha açık gri */
}

.table-striped td {
    color: #000000; /* Siyah yazı */
}
.table-striped th {
    background-color: #000000; /* Siyah */
    color: #ffffff; /* Beyaz yazı */
}

.pagination .page-item .page-link {
    background-color: #f0f0f0; /* Açık gri */
    color: black; /* Siyah yazı */
    border: 1px solid #ccc; /* Gri kenarlık */
  }

.pagination .page-item.active .page-link {
  background-color: #198754; /* Yeşil */
  color: #ffffff; /* Beyaz yazı */
  border-color: #198754; /* Yeşil kenarlık */
}
.pagination .page-item.active .page-link {
    background-color: #198754; /* Aktif durumda arka plan (yeşil) */
    color: #ffffff; /* Aktif durumda yazı (beyaz) */
    border-color: #198754; /* Aktif durumda kenarlık (yeşil) */
}

.pagination .page-item.disabled .page-link {
    background-color: #e9ecef; /* Gri */
    color: #6c757d; /* Açık gri yazı */
    border-color: #ddd; /* Gri kenarlık */
  }
.page-item.active .page-link {
  background-color: #198754 !important; /* Yeşil arka plan */
  color: #ffffff !important; /* Beyaz yazı */
  border-color: #198754 !important; /* Yeşil kenarlık */
}


.action-buttons button {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-buttons button:hover {
    background-color: #f8f8f8;
    color: #000;
    border-color: #bbb;
}

.action-buttons svg {
    fill: black;
    width: 16px;
    height: 16px;
}

.logout-button {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logout-button:hover {
    background-color: #f8f8f8;
    color: #000;
    border-color: #bbb;
}
