.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Beyaz */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; /* Daha açık gri */
}

.table-striped th {
    background-color: #000000; /* Siyah */
    color: #ffffff; /* Beyaz yazı */
}

.table-striped td {
    color: #000000; /* Siyah yazı */
}
.page-item.active .page-link {
  background-color: #198754 !important; /* Yeşil arka plan */
  color: #ffffff !important; /* Beyaz yazı */
  border-color: #198754 !important; /* Yeşil kenarlık */
}

